.c-container{
    justify-content: space-around;
    gap: 1rem;
}
.c-container>img{
    width: 9rem;
}
.padding {
    padding-left: 1rem;
    padding-right: 1rem;
}
.divider {
    margin: 10px 20px 10px;
    border: none;
    border-top: 0.00000000000000001 solid #ddd; 
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.1); 
}
